.mainDiv{
    width: 100vw;
    height: 50vh;

    background-color: darkcyan;
}

.topBar{
    background-color: darkcyan;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.currentCategory{
    width: 5vw;
    height: 2vh;
    
    background-color: darkcyan;

    padding-left: 3vw;
    padding-top: 1vw;

    color: white;
}

.searchBar{
    
    height: 2vh;
    width: 95vw;
}

.homeLoadingDesign {

    height: 100vh;
    width: 100vw;

    background-color: darkcyan;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

}

.spinner {

    height: 8em;
    width: 8em;
}

.categoryShowcase {
    
    height: 100vh;
    width: 100vw;

    background-color: darkcyan;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;

    color: white;
}

.movieCategory {
    height: 3em;
    width: 7em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    cursor: pointer;
}

.movieCategory:hover{

    transition: 0.2s;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.leftSide {

    width: 10vw;
    height: 40vh;
    overflow: auto;

    display: block;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.rightSide {
    width: 90vw;
    height: 45vw;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-right: 2vw;
}

.moviePerCategory{
    color: black;
    margin-bottom: 2vw;
}

.imageMovie{
    
    width: 7vw;
    height: 10vh;
}